:root{
  --bodyBackGroundColor : #232323;
  --profileCardColor    : #22a83f;
  --profileCardColor    : #229da8;
  --profileCardColor    : #5F8575;
  /* --profileCardColor    : #c18d6b; */
  /* --profileCardColor    : #585a78; */
  --infoBlockColor      : #bec5c5;
  --infoBlockColor      : #d9b99b;
  /* --infoBlockColor      : #e4d5b7; */
}

body {
  background-color: var(--bodyBackGroundColor);
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  transition: 1s;
}